//
// VARIABLES
//

// Colors
$blue: #03a87c; // Medium Green-ish accent
$linkGreen: #03a87c;
$black: #000;
$darkerGray: #292929;
$darkGray: #757575;
$gray: #757575;
$lightGray: #f2f2f2;
$white: #fff;

// Font stacks
$serif: "Merriweather", Georgia, serif;
$sans: "Inter", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}